.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #86C8CB;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: #2B8A16 ;
}

h2 {
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #2B8A16 ;
}
h3 {
  margin: 30px;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #2B8A16;
}
p {
  color: #2B8A16 ;
}

img {
  width: 80%;
  background-color: #0C2107 ;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}


.myBtn {
  margin: 30px;
  background-color: #809A9C;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-top-style: inset;
  border-top-color: #624F82;
  padding-top: 3%;
}
